.containerBlock{
    /* border: 1px solid blue; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cancelButton{
    /* border: 1px solid red; */
}
.signUpBlock{
    display: flex;
    justify-content: center;
}

.text{
    font-family: 'Courier New', Courier, monospace;
}
